<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Struts2配置 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<!-- UploadServlet上传 -->
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.somnus.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/uploadServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 头像裁剪上传 -->
	<servlet>
		<servlet-name>AvatarServlet</servlet-name>
		<servlet-class>com.somnus.servlet.AvatarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AvatarServlet</servlet-name>
		<url-pattern>/avatarServlet</url-pattern>
	</servlet-mapping>


</web-app>
